body{
	padding:0;
	margin:0;
}
.home{
 background-image:url("https://png.pngtree.com/thumb_back/fw800/background/20190827/pngtree-grey-wave-smoke-abstract-background-image_301271.jpg");
 background-size:cover;
}
.about{
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTzB0r3v0pxBxqECPlnWjf7JqV_6mFO4GOGLZjOaORp4VlEkZRu&usqp=CAU");
  background-size:cover;
 font-size:20px;
  color:white;
}
.one{
  background-color:grey;
  width: 1000px;
  padding: 50px;
  border:15px black;
  margin: 20px;

}
div{
  background-color:grey;
  width: 1000px;
  padding: 50px;
  border:15px black;
  margin: 20px;

}


.contact{
  background-image:url("https://www.publicdomainpictures.net/pictures/200000/t2/plain-gray-background.jpg");
  background-size:cover;
}

  
.portfolio{

	background-image:url("https://lh3.googleusercontent.com/proxy/HtLpZJ51zHbce0AsXflfbkFiqwIj25CmU6efT8A1IlgHEncud9diKAXagGJDX8qydtTEjh_wepvYv8E1madp2tnZMIj9QInYyA-9I8Y9kGJ-cOtWfYokwJ4IiO6pnHWwpr5dS0CmtqHJIBNh5w");
  background-size:cover;
}

 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float:right;
}
li {
  display: inline;
}
li {
  float: right;
}

a {
  display: block;
  padding: 20px;
  background-color: #dddddd;
}
ul {
  background-color: #dddddd;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}

p{
	font-size: 30px;
	color:white;

}
h1{
  color:white;
}
h2{

}

